.box
{
	height: 25vh;
	width: 25vh;
	border: 1px solid black;
	display: inline-block;
	border-radius: 35px;
}
#clock
{
	padding-left: 35vh;
	font-family: Verdana;
	font-size: 50px;
	font-style: bold;
}
.red
{
	background-color: red;
}
